

.about {   
    width: 100%;
    height:fit-content;
    padding: 10%;
    justify-content: center;
    flex-direction: column;
    justify-items:center;
    background-color: rgb(255, 255, 239);
    
}


.t-about {
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 80px;
}

.p-about{
    text-align: center;
    text-align: right;
    font-size:x-large;
    margin-bottom: 10px;
}